autoval/validate/__pycache__/waterlevel.cpython-37.pyc
autoval/.DS_Store
autoval/plot/__pycache__/__init__.cpython-37.pyc
autoval/plot/__pycache__/waterlevel.cpython-37.pyc
autoval/plot/__pycache__/skill.cpython-37.pyc
